Going to subset just to an FOV to make it easier to test and run code

In [1]:
import numpy as np
import pandas as pd
import scanpy as sc

In [2]:
import squidpy as sq

In [3]:
import os
import geopandas as geo

C:\Users\DouglasHannumJr\AppData\Roaming\Python\Python310\site-packages\geopandas\_compat.py:123: UserWarning: The Shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(
C:\Users\DouglasHannumJr\AppData\Local\Temp\ipykernel_1460\3587045932.py:2: UserWarning: Shapely 2.0 is installed, but because PyGEOS is also installed, GeoPandas will still use PyGEOS by default for now. To force to use and test Shapely 2.0, you have to set the environment variable USE_PYGEOS=0. You can do this before starting the Python process, or in your code before importing geopandas:

import os
os.environ['USE_PYGEOS'] = '0'
import geopandas

In a future release, GeoPandas will switch to using Shapely by default. If you are using PyGEOS directly (calling PyGEOS functions on geometries from GeoPandas), this will then stop working and you are encouraged to migrate from PyGEOS to Shapely 2.0 (https://shapely.readthedocs.io/en/latest/migration_pygeos.html).
  import geopandas as geo

In [4]:
os.getcwd()

'C:\\Users\\DouglasHannumJr\\OneDrive - Vizgen\\Desktop\\python_scripts'

In [5]:
data_dir = '../data/mouse_brain_showcase/Slice-1_Replicate-1/'

In [6]:
os.chdir(data_dir)

In [7]:
os.listdir()

['cell_by_gene.csv',
 'cell_metadata.csv',
 'detected_transcripts.csv',
 'extras',
 'partitioned_transcripts.csv',
 'tpv.Rds']

In [8]:
counts = pd.read_csv('cell_by_gene.csv', index_col=0, header=0)

In [9]:
md = pd.read_csv('./cell_metadata.csv', index_col = 0)

In [10]:
sum(md['center_x'] > 8000)

5232

In [11]:
sum(md['center_y'] < 4100)

52887

In [12]:
index_array = np.logical_and(md['center_x'] > 6000, np.logical_and(md['center_x'] < 6300, 
                                                     np.logical_and(md['center_y'] > 3600, md['center_y'] < 3900)))

In [13]:
md[index_array].shape

(158, 12)

In [14]:
md = md[index_array]

In [16]:
md

,fov,volume,center_x,center_y,min_x,min_y,max_x,max_y,anisotropy,transcript_count,perimeter_area_ratio,solidity
EntityID,,,,,,,,,,,,
121919181900004396,NaN,1799.683443,6001.924187,3811.299013,5993.115658,3802.759916,6013.549259,3821.465516,1.318624,633,0.324494,4.422366
121919181900004397,NaN,447.706567,6023.260216,3868.637802,6019.143659,3863.239917,6026.390459,3873.413517,1.403875,99,0.609575,4.858923
121919181900004445,NaN,823.558808,6007.885746,3784.473727,6000.783658,3777.811915,6014.845259,3795.545515,1.553704,100,0.628969,3.052211
121919181900008566,NaN,1045.388504,6093.349508,3697.711061,6087.334686,3691.615031,6099.344287,3703.624631,1.195988,242,0.378113,6.238712
121919181900008567,NaN,1100.098499,6146.539138,3730.451436,6141.010688,3723.043032,6152.588288,3737.320632,1.233209,226,0.378782,5.641877
...,...,...,...,...,...,...,...,...,...,...,...,...
121919181900076975,NaN,832.665826,6296.206737,3795.313432,6290.475194,3788.797769,6304.428795,3801.671369,1.522138,320,0.502714,4.580220
121919181900076978,NaN,1063.819491,6299.152413,3873.864903,6291.123194,3863.533771,6306.156795,3884.399371,1.631217,78,0.607866,3.296638
121919181900076989,NaN,2005.355582,6299.766503,3822.468280,6289.719194,3811.909769,6312.960795,3832.559370,1.207733,73,0.337268,3.554759
121919181900076991,NaN,1240.195976,6277.599154,3851.702895,6269.631194,3843.661770,6286.392794,3857.723370,1.353912,644,0.416369,4.454751
121919181900076992,NaN,1324.484710,6261.477497,3797.160618,6255.267193,3789.553769,6270.624794,3805.235369,1.265385,688,0.366846,5.029067

In [36]:
cells_to_keep = md.index.to_numpy()

In [37]:
cells_to_keep

array([121919181900004396, 121919181900004397, 121919181900004445,
       121919181900008566, 121919181900008567, 121919181900008568,
       121919181900008569, 121919181900008571, 121919181900008572,
       121919181900008573, 121919181900008574, 121919181900008575,
       121919181900008577, 121919181900008578, 121919181900008579,
       121919181900008580, 121919181900008581, 121919181900008582,
       121919181900008583, 121919181900008584, 121919181900008586,
       121919181900008587, 121919181900008588, 121919181900008589,
       121919181900008590, 121919181900008591, 121919181900008592,
       121919181900008593, 121919181900008594, 121919181900008595,
       121919181900008596, 121919181900008597, 121919181900008598,
       121919181900008599, 121919181900008600, 121919181900008602,
       121919181900008603, 121919181900008604, 121919181900008605,
       121919181900008607, 121919181900008608, 121919181900008609,
       121919181900008610, 121919181900008611, 121919181900008612,
       121919181900008613, 121919181900008614, 121919181900008615,
       121919181900008616, 121919181900008617, 121919181900008618,
       121919181900008619, 121919181900008620, 121919181900008621,
       121919181900008622, 121919181900008623, 121919181900008624,
       121919181900008625, 121919181900008628, 121919181900008629,
       121919181900008630, 121919181900008631, 121919181900008632,
       121919181900008633, 121919181900008634, 121919181900008635,
       121919181900008636, 121919181900008637, 121919181900008638,
       121919181900008640, 121919181900008641, 121919181900008642,
       121919181900008643, 121919181900008644, 121919181900035592,
       121919181900035598, 121919181900035600, 121919181900035606,
       121919181900035607, 121919181900035608, 121919181900035609,
       121919181900035610, 121919181900035612, 121919181900035614,
       121919181900035617, 121919181900035620, 121919181900035621,
       121919181900035630, 121919181900035634, 121919181900035635,
       121919181900035638, 121919181900035646, 121919181900035649,
       121919181900035655, 121919181900035657, 121919181900035660,
       121919181900035663, 121919181900035664, 121919181900035669,
       121919181900035670, 121919181900035671, 121919181900035672,
       121919181900070959, 121919181900070962, 121919181900070963,
       121919181900070964, 121919181900070965, 121919181900070967,
       121919181900070972, 121919181900070975, 121919181900070976,
       121919181900070977, 121919181900070980, 121919181900070982,
       121919181900070983, 121919181900070987, 121919181900070990,
       121919181900070993, 121919181900070995, 121919181900070996,
       121919181900070998, 121919181900070999, 121919181900071000,
       121919181900071003, 121919181900071006, 121919181900071008,
       121919181900071009, 121919181900071010, 121919181900071011,
       121919181900071012, 121919181900071013, 121919181900071016,
       121919181900071017, 121919181900071018, 121919181900073111,
       121919181900073161, 121919181900073162, 121919181900073168,
       121919181900076931, 121919181900076932, 121919181900076934,
       121919181900076935, 121919181900076936, 121919181900076943,
       121919181900076945, 121919181900076950, 121919181900076952,
       121919181900076958, 121919181900076961, 121919181900076966,
       121919181900076969, 121919181900076970, 121919181900076972,
       121919181900076975, 121919181900076978, 121919181900076989,
       121919181900076991, 121919181900076992], dtype=int64)

In [38]:
counts.index

Index([121919181900000000, 121919181900000001, 121919181900000002,
       121919181900000003, 121919181900000004, 121919181900000005,
       121919181900000006, 121919181900000007, 121919181900000008,
       121919181900000009,
       ...
       121919181900078290, 121919181900078291, 121919181900078292,
       121919181900078293, 121919181900078294, 121919181900078295,
       121919181900078296, 121919181900078297, 121919181900078298,
       121919181900078299],
      dtype='int64', name='cell', length=78273)

In [50]:
counts = counts[index_array]

In [51]:
counts.index == md.index

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [55]:
cells_to_keep = counts.index.to_numpy()

In [52]:
segmentations = geo.read_parquet('./cell_boundaries.parquet')

In [53]:
segmentations.head()

,ID,EntityID,ZIndex,Geometry,ZLevel,Type,Name,ParentID,ParentType
0,0,121919181900000000,0,"MULTIPOLYGON (((7664.039 3602.152, 7664.028 36...",1.5,cell,None,None,None
1,1,121919181900000000,1,"MULTIPOLYGON (((7664.147 3603.232, 7664.147 36...",3.0,cell,None,None,None
2,2,121919181900000000,2,"MULTIPOLYGON (((7664.687 3605.716, 7664.676 36...",4.5,cell,None,None,None
3,3,121919181900000000,3,"MULTIPOLYGON (((7667.819 3607.876, 7667.819 36...",6.0,cell,None,None,None
4,4,121919181900000000,4,"MULTIPOLYGON (((7664.147 3604.528, 7664.147 36...",7.5,cell,None,None,None

In [58]:
sum(segmentations['EntityID'].isin(cells_to_keep))

1088

In [60]:
segmentations = segmentations[segmentations['EntityID'].isin(cells_to_keep)]

In [61]:
segmentations.to_parquet('../Slice-1_Replicate-1_test/cell_boundaries.parquet')

In [62]:
md.to_csv('../Slice-1_Replicate-1_test/cell_metadata.csv')

In [63]:
counts.to_csv('../Slice-1_Replicate-1_test/cell_by_gene.csv')

In [66]:
os.listdir()

['cell_boundaries.parquet',
 'cell_by_gene.csv',
 'cell_metadata.csv',
 'extras',
 'partitioned_transcripts.csv']

In [74]:
transcripts = pd.read_csv('./partitioned_transcripts.csv', index_col=0)

In [75]:
transcripts.head()

,barcode_id,global_x,global_y,global_z,x,y,fov,gene,cell_id
0,2,159.97784,4208.4683,4.0,1762.1163,159.98138,0,Htr1b,-1
1,2,165.94028,4321.8047,4.0,1817.3240,1209.39220,0,Htr1b,121919181900045751
2,11,158.47667,4320.9014,5.0,1748.2166,1201.02830,0,Htr6,121919181900045755
3,13,171.21793,4283.9500,0.0,1866.1912,858.88550,0,Adora1,-1
4,13,158.02158,4257.5470,1.0,1744.0027,614.41070,0,Adora1,121919181900045749

In [76]:
trans = transcripts[transcripts['cell_id'].isin(cells_to_keep)]

In [77]:
trans.shape

(57127, 9)

In [79]:
trans.to_csv('../Slice-1_Replicate-1_test/detected_transcripts.csv')